<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>[% IF title; title _ ' - '; END %]Sixteen Colors ANSI/ASCII Art Archive</title>
    <link href=/static/css/reset.css rel=stylesheet type=text/css>
    <link href=/static/css/base.css rel=stylesheet type=text/css>
    <link href=/static/css/pack.css rel=stylesheet type=text/css>
    <link href=/static/css/file.css rel=stylesheet type=text/css>
    <script type=text/javascript src=/static/js/jquery.min.js></script>
    <script type=text/javascript src=/static/js/jquery.masonry.min.js></script>
    <script type=text/javascript src=/static/js/jquery.backgroundPosition.min.js></script>
    <script type=text/javascript src=/static/js/jquery.text-overflow.min.js></script>
    <script type=text/javascript src=/static/js/login.js></script>
    <script type=text/javascript src=/static/js/pack.js></script>
    <script type=text/javascript src=/static/js/sauce.js></script>

    <meta property="og:title" content="[% title || 'Sixteen Colors' %]" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Sixteen Colors ANSI Art and ASCII Art Archive">
    <meta property="og:url" content="[% c.req.uri %]" />
    <meta property="og:description" content="Sixteen Colors is a collection of artwork released by the underground ANSI and ASCII art scene from 1990 to the present." />

    [% IF c.req.uri.match( '/pack/' ) %]
    [% IF file %]
    <meta property="og:image" content="[% c.uri_for( '/pack', pack.canonical_name, file.filename, 'fullscale', c.req.params ) | html %]" />
    [% ELSIF pack %]
    <meta property="og:image" content="[% c.uri_for( '/pack', pack.canonical_name, 'preview' ) | html %]" />
    [% END %]
    [% ELSE %]
    <meta property="og:image" content="[% c.uri_for( '/static/images/logo.png' )  %]" />
    <meta property="og:image" content="[% c.uri_for( '/static/images/bot-bg.png' )  %]" />
    [% END %]

    <link href="http://feeds.feedburner.com/SixteenColorsAnsiAndAsciiArchive-News" type="application/atom+xml" rel="alternate" title="Sixteen Colors News">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-188290-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<!-- BEGIN: Facebook JavaScript SDK -->
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '212930968731360',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
<!-- END: Facebook JavaScript SDK -->

    <div id=auth>
        <div class=body>

        </div>
    </div>

    <div id=container>
		<div id="header">
	        <h1><a href="[% c.uri_for('/') %]">Sixteen Colors</a></h1>
	        <ul id=nav>
	   
	            <li><a href="[% c.uri_for( '/pack' ) %]">Artpacks</a></li>
        	 <li><a href="https://www.facebook.com/sixteencolors/" target="_blank">Facebook Page</a></li>
		</ul>
			<div id="searchbox">			
	            <form method=get id=search action=[% c.uri_for( '/search' ) %]>
					<input name=q /> 
					<input type=submit class=submit value=Search />
				</form>
			</div>
		</div>
		
    <div id="content">
[% IF c.req.uri.host.match( 'legacy|localhost' ) %]
<div id=warning>
<p>You are viewing a development version of the Sixteen Colors web site. Various parts of the the site may be horribly broken. For a more stable experience, check out <a href="http://sixteencolors.net">sixteencolors.net</a>.</p>
</div>
[% END %]

<!--

[% IF c.req.uri.host.match( 'sixteencolors' ) %]
<div id=warning>
<p>PLEASE READ!!! The 16c archive is integrating all comments and recomendations with Facebook. Please help us by using the Facebook functionality and sending us your feedback over on our <a href="http://www.facebook.com/sixteencolors">Facebook</a> page.</p>
</div>
[% END %]

-->

[% content %]
    </div>

        <div id=foot class=clear>
<p class=copy>(c) 2004 - 2015<span>Sixteen Colors</span></p>
<p>Site Stats <span>
Packs: [% c.model('DB::Pack').count %]<br>
Files: [% c.model('DB::File').count %]<br>

<!--

Groups: [% c.model('DB::Group').count %]<br>
Artists: [% c.model('DB::Artist').count %]

-->

</span></p>

<p>Connect

<span>
<a href="https://www.facebook.com/sixteencolors" target="_blank">Facebook</a><br>
<a href="https://www.twitter.com/sixteencolors" target="_blank">Twitter</a><br>
<a href="https://www.github.com/sixteencolors" target="_blank">GitHub</a><br>




<!-- History<br>
Glossary<br>
About 16c<br> -->
</span></p>
<p>Browse <span>
<!-- Search<br> -->
<a href="[% c.uri_for( '/pack') %]">Artpacks</a><br>
<!-- Groups<br>
Artists<br> -->
</span></p>
        </div>
    </div>

</body>
</html>
